.createprofile {
    position: relative;
    width: 1440px;
    height: 4227px;
    background-color: #ffffff;
  }
  
  .createprofile .text-wrapper {
    position: absolute;
    top: 80px;
    left: 403px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 100px;
    letter-spacing: 0;
    line-height: 130px;
    white-space: nowrap;
  }
  
  .createprofile .container {
    position: absolute;
    width: 996px;
    height: 3697px;
    top: 265px;
    left: 243px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 17px #171a1f26, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .button {
    all: unset;
    box-sizing: border-box;
    width: 359px;
    height: 44px;
    top: 3576px;
    left: 76px;
    background-color: #6d31ed;
    box-shadow: 0px 8px 17px #6d31ed26, 0px 0px 2px #6d31ed1f;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .createprofile .div {
    position: absolute;
    top: 8px;
    left: 153px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .createprofile .container-2 {
    position: absolute;
    width: 428px;
    height: 387px;
    top: 51px;
    left: 47px;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .textbox {
    width: 360px;
    height: 53px;
    top: 192px;
    left: 33px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .overlap-group {
    position: relative;
    width: 366px;
    height: 59px;
    top: -4px;
    left: -4px;
    border-radius: 4px;
    border: 5px solid;
    border-color: #6d31ed33;
  }
  
  .createprofile .text-wrapper-2 {
    top: 26px;
    color: #bdc1ca;
    position: absolute;
    left: 11px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-3 {
    position: absolute;
    top: 2px;
    left: 11px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #323743;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .overlap-wrapper {
    width: 360px;
    height: 53px;
    top: 272px;
    left: 30px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .dropdown-button {
    position: absolute;
    width: 360px;
    height: 37px;
    top: 132px;
    left: 32px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .text-wrapper-4 {
    position: absolute;
    top: 7px;
    left: 12px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .chevron-down-large {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 11px;
    left: 333px;
  }
  
  .createprofile .text-wrapper-5 {
    position: absolute;
    top: 8px;
    left: 9px;
    font-family: "Lexend-SemiBold", Helvetica;
    font-weight: 600;
    color: #565d6d;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .createprofile .overlap-group-wrapper {
    width: 360px;
    height: 53px;
    top: 56px;
    left: 30px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .text-wrapper-6 {
    position: absolute;
    top: 26px;
    left: 11px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-7 {
    position: absolute;
    top: 2px;
    left: 11px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #424856;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .container-3 {
    width: 922px;
    height: 319px;
    top: 483px;
    left: 46px;
    position: absolute;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .div-wrapper {
    width: 360px;
    height: 53px;
    top: 67px;
    left: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .textbox-2 {
    width: 360px;
    height: 53px;
    top: 146px;
    left: 438px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .textbox-3 {
    width: 360px;
    height: 53px;
    top: 235px;
    left: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .textbox-4 {
    width: 360px;
    height: 53px;
    top: 67px;
    left: 438px;
    background-color: #f3f4f6;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .textbox-5 {
    width: 360px;
    height: 53px;
    top: 146px;
    left: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .container-4 {
    width: 428px;
    height: 385px;
    top: 53px;
    left: 519px;
    position: absolute;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .overlap {
    position: absolute;
    width: 360px;
    height: 53px;
    top: 192px;
    left: 33px;
    border-radius: 4px;
  }
  
  .createprofile .textbox-6 {
    position: absolute;
    width: 360px;
    height: 53px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .visibility-off {
    top: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 321px;
  }
  
  .createprofile .overlap-2 {
    position: absolute;
    width: 360px;
    height: 53px;
    top: 286px;
    left: 33px;
    border-radius: 4px;
  }
  
  .createprofile .img {
    top: 18px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 321px;
  }
  
  .createprofile .password-must {
    position: absolute;
    width: 243px;
    top: 38px;
    left: 44px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #6d31ed;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
  }
  
  .createprofile .g-check {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 58px;
    left: 20px;
  }
  
  .createprofile .overlap-3 {
    position: absolute;
    width: 24px;
    height: 91px;
    top: 82px;
    left: 20px;
  }
  
  .createprofile .g-check-2 {
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
  }
  
  .createprofile .g-check-3 {
    top: 23px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
  }
  
  .createprofile .g-check-4 {
    top: 44px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
  }
  
  .createprofile .g-check-5 {
    top: 67px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
  }
  
  .createprofile .button-2 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 359px;
    height: 44px;
    top: 3576px;
    left: 550px;
    background-color: #6d31ed;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 8px 17px #6d31ed26, 0px 0px 2px #6d31ed1f;
  }
  
  .createprofile .text-wrapper-8 {
    position: absolute;
    top: 8px;
    left: 160px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .createprofile .container-5 {
    width: 922px;
    height: 186px;
    top: 851px;
    left: 48px;
    position: absolute;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .dropdown-button-2 {
    top: 126px;
    left: 73px;
    position: absolute;
    width: 360px;
    height: 37px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .dropdown-button-3 {
    top: 64px;
    left: 485px;
    position: absolute;
    width: 360px;
    height: 37px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .dropdown-button-4 {
    top: 126px;
    left: 485px;
    position: absolute;
    width: 360px;
    height: 37px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .textbox-7 {
    width: 360px;
    height: 46px;
    top: 57px;
    left: 73px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .overlap-group-2 {
    width: 366px;
    height: 52px;
    position: relative;
    top: -4px;
    left: -4px;
    border-radius: 4px;
    border: 5px solid;
    border-color: #6d31ed33;
  }
  
  .createprofile .text {
    top: 22px;
    color: #171a1f;
    position: absolute;
    left: 11px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-9 {
    position: absolute;
    top: -1px;
    left: 11px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #323743;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .container-6 {
    width: 922px;
    height: 315px;
    top: 1090px;
    left: 48px;
    position: absolute;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .professional-details {
    position: absolute;
    width: 294px;
    top: 12px;
    left: 9px;
    font-family: "Lexend-SemiBold", Helvetica;
    font-weight: 600;
    color: #565d6d;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .createprofile .dropdown-button-5 {
    top: 160px;
    left: 29px;
    position: absolute;
    width: 360px;
    height: 37px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .group {
    position: absolute;
    width: 131px;
    height: 31px;
    top: 236px;
    left: 226px;
  }
  
  .createprofile .image {
    left: 0;
    position: absolute;
    width: 29px;
    height: 31px;
    top: 0;
  }
  
  .createprofile .image-2 {
    left: 102px;
    position: absolute;
    width: 29px;
    height: 31px;
    top: 0;
  }
  
  .createprofile .rectangle {
    width: 59px;
    height: 31px;
    top: 0;
    left: 37px;
    border-radius: 8px;
    border-color: #6d31ed;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid;
  }
  
  .createprofile .text-wrapper-10 {
    position: absolute;
    top: 242px;
    left: 46px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .group-2 {
    position: absolute;
    width: 363px;
    height: 62px;
    top: 43px;
    left: 504px;
  }
  
  .createprofile .ORCHID-number {
    position: absolute;
    top: 0;
    left: 2px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .group-3 {
    position: absolute;
    width: 361px;
    height: 31px;
    top: 31px;
    left: 0;
  }
  
  .createprofile .rectangle-2 {
    width: 68px;
    left: 0;
    position: absolute;
    height: 31px;
    top: 0;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .rectangle-3 {
    width: 70px;
    left: 94px;
    position: absolute;
    height: 31px;
    top: 0;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .rectangle-4 {
    width: 74px;
    left: 287px;
    position: absolute;
    height: 31px;
    top: 0;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .rectangle-5 {
    width: 71px;
    left: 190px;
    position: absolute;
    height: 31px;
    top: 0;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .line {
    position: absolute;
    width: 13px;
    height: 1px;
    top: 16px;
    left: 74px;
    object-fit: cover;
  }
  
  .createprofile .line-2 {
    left: 171px;
    position: absolute;
    width: 13px;
    height: 1px;
    top: 16px;
    object-fit: cover;
  }
  
  .createprofile .line-3 {
    left: 267px;
    position: absolute;
    width: 13px;
    height: 1px;
    top: 16px;
    object-fit: cover;
  }
  
  .createprofile .textbox-8 {
    width: 368px;
    height: 56px;
    top: 157px;
    left: 503px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .overlap-group-3 {
    width: 374px;
    height: 62px;
    position: relative;
    top: -4px;
    left: -4px;
    border-radius: 4px;
    border: 5px solid;
    border-color: #6d31ed33;
  }
  
  .createprofile .text-2 {
    top: 27px;
    color: #bdc1ca;
    position: absolute;
    left: 11px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-11 {
    position: absolute;
    top: 4px;
    left: 11px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #323743;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .textbox-9 {
    width: 360px;
    height: 53px;
    top: 61px;
    left: 29px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    border: 1px solid;
    border-color: #6d31ed;
  }
  
  .createprofile .container-7 {
    width: 922px;
    height: 121px;
    top: 1448px;
    left: 46px;
    position: absolute;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .overlap-4 {
    position: absolute;
    width: 620px;
    height: 80px;
    top: 8px;
    left: 9px;
  }
  
  .createprofile .text-wrapper-12 {
    position: absolute;
    width: 486px;
    top: 0;
    left: 0;
    font-family: "Lexend-SemiBold", Helvetica;
    font-weight: 600;
    color: #565d6d;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .createprofile .text-wrapper-13 {
    position: absolute;
    top: 57px;
    left: 477px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .group-4 {
    top: 49px;
    left: 201px;
    position: absolute;
    width: 131px;
    height: 31px;
  }
  
  .createprofile .text-wrapper-14 {
    position: absolute;
    top: 55px;
    left: 21px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .group-5 {
    top: 59px;
    left: 666px;
    position: absolute;
    width: 131px;
    height: 31px;
  }
  
  .createprofile .container-8 {
    width: 922px;
    height: 329px;
    top: 1612px;
    left: 48px;
    position: absolute;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .overlap-5 {
    position: relative;
    width: 486px;
    height: 284px;
    top: 8px;
    left: 9px;
  }
  
  .createprofile .checkbox {
    position: absolute;
    width: 172px;
    height: 233px;
    top: 51px;
    left: 61px;
  }
  
  .createprofile .frame {
    top: 0;
    position: absolute;
    width: 172px;
    height: 26px;
    left: 0;
  }
  
  .createprofile .rectangle-6 {
    width: 20px;
    height: 20px;
    top: 3px;
    left: 0;
    border-radius: 3px;
    border-color: #565d6d;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid;
  }
  
  .createprofile .text-wrapper-15 {
    position: absolute;
    top: -1px;
    left: 28px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .createprofile .frame-2 {
    top: 69px;
    position: absolute;
    width: 172px;
    height: 26px;
    left: 0;
  }
  
  .createprofile .frame-3 {
    top: 138px;
    position: absolute;
    width: 172px;
    height: 26px;
    left: 0;
  }
  
  .createprofile .frame-4 {
    top: 207px;
    position: absolute;
    width: 172px;
    height: 26px;
    left: 0;
  }
  
  .createprofile .container-9 {
    width: 922px;
    height: 1513px;
    top: 1990px;
    left: 48px;
    position: absolute;
    background-color: #f5f1fe;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .text-wrapper-16 {
    position: absolute;
    width: 486px;
    top: 8px;
    left: 9px;
    font-family: "Lexend-SemiBold", Helvetica;
    font-weight: 600;
    color: #565d6d;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .createprofile .container-10 {
    position: absolute;
    width: 788px;
    height: 358px;
    top: 135px;
    left: 67px;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .container-11 {
    position: absolute;
    width: 740px;
    height: 231px;
    top: 71px;
    left: 24px;
    background-color: #fafafb;
    border-radius: 6px;
    overflow: hidden;
    border: 2px dashed;
    border-color: #bdc1ca;
  }
  
  .createprofile .cloud-upload {
    position: absolute;
    width: 80px;
    height: 79px;
    top: 0;
    left: 330px;
  }
  
  .createprofile .button-3 {
    all: unset;
    box-sizing: border-box;
    width: 121px;
    height: 44px;
    top: 197px;
    left: 308px;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .createprofile .text-wrapper-17 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #6d31ed;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-18 {
    position: absolute;
    top: 125px;
    left: 257px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #6f7787;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-19 {
    position: absolute;
    top: 163px;
    left: 358px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #6f7787;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-20 {
    position: absolute;
    top: 83px;
    left: 283px;
    font-family: "Lexend-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-21 {
    top: 23px;
    left: 24px;
    font-family: "Lexend-Regular", Helvetica;
    color: #171a1f;
    font-size: 24px;
    line-height: 36px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .createprofile .button-4 {
    all: unset;
    box-sizing: border-box;
    width: 81px;
    height: 36px;
    top: 313px;
    left: 593px;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .createprofile .text-wrapper-22 {
    position: absolute;
    top: 6px;
    left: 18px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #9095a1;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
  }
  
  .createprofile .button-5 {
    all: unset;
    box-sizing: border-box;
    width: 82px;
    height: 36px;
    top: 313px;
    left: 682px;
    background-color: #6d31ed;
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .createprofile .text-wrapper-23 {
    top: 6px;
    left: 18px;
    font-family: "Manrope-Regular", Helvetica;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .createprofile .e-remove {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 24px;
    left: 736px;
  }
  
  .createprofile .container-12 {
    top: 610px;
    position: absolute;
    width: 788px;
    height: 358px;
    left: 70px;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .text-wrapper-24 {
    position: absolute;
    top: 68px;
    left: 67px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
  }
  
  .createprofile .text-wrapper-25 {
    position: absolute;
    top: 543px;
    left: 70px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
  }
  
  .createprofile .container-13 {
    top: 1106px;
    position: absolute;
    width: 788px;
    height: 358px;
    left: 70px;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
  }
  
  .createprofile .text-wrapper-26 {
    top: 1046px;
    left: 70px;
    color: #171a1f;
    font-size: 32px;
    line-height: 48px;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
  }
  